body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

.product-list,
.product-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product-card,
.product {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
  width: 300px;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit:scale-down;
  margin-top: 10px;
  margin-bottom: -20px;
}

.product-details {
  padding: 15px;
}

.product-name {
  font-size: 18px;
  margin-bottom: auto;
}

.product-price {
  font-size: 16px;
  color: #d71b28;
  margin-bottom: 10px;
}

.add-to-cart-button {
  background-color: #d71b28;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #a51623;
  }
}

/* .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}


.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
  width: 300px;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit:scale-down;
  margin-top: 10px;
  margin-bottom: -25px;
}

.product-details {
  padding: 15px;
}

.product-name {
  font-size: 18px;
  margin-bottom: auto;
}

.product-price {
  font-size: 16px;
  color: #d71b28;
  margin-bottom: 10px;
}

.add-to-cart-button {
  background-color: #d71b28;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #a51623;
  }
} */

.App-header {
  background-color: #0072ce; /* Best Buy blue color */
  padding: 20px;
  display: flex;
  color: gold;
  align-items: center;
  justify-content: space-between;
}

#navbar {
  display: flex;
  flex-wrap: wrap;
  float:left;
  justify-content: space-around;
  background-color: #0072ce; /* Best Buy blue color */
  padding: 20px;
  width: 200px; /* Set the initial width of the column */
  color: gold;
}

.button {
  color: white;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #00467f;
}

/* Style the toggle button */
#toggleButton {
  float: left;
  background-color: #0072ce; /* Best Buy blue color */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  text-align: justify;
  font-size: large;
  margin-bottom: -60px;
  margin-left: 52px;
}

#toggleButton:hover {
  color: #003366; 
}

#navtop {
  padding: auto;
  margin: auto;
  margin-bottom: 30px;
  text-align: left;
  font-size: 15px;
}

main {
  padding: 20px 0;
}

footer {
  background-color: #003366;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.account {
  background-color: #f8f8f8; /* Light background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light box shadow */
  margin: 20px;
}

.account h2 {
  color: #0072ce; /* Best Buy blue color */
}

.account p {
  margin-bottom: 10px;
}

.account strong {
  font-weight: bold;
}

form {
  justify-content: right;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  font-size: medium;
}   

input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
} 

#admin_buttons {
  display: flex;
  justify-content: space-around;
  margin-top: -20px;
  margin-left: 50px;
} 

img {
  width: 62%;
  height: 200px;
  object-fit:scale-down;
  margin-top: 10px;
  margin-bottom: -25px;
} 